<div>
    <h5 style="display: inline;">Over Due</h5> <span style="display:inline" id='count-overdue' class="bg-gray-200 text-black px-3 py-1 rounded font-medium mr-2 mb-2">2</span>
    <ul class="list-none">
        <li class="Todo-Item">
            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                <input id="todo-checkbox-1" type="checkbox" class="h-4 w-4 text-blue-600 bg-gray-100 rounded border">
                <label for="todo-checkbox-1" class="ml-2 text-sm text-gray-600 cursor-pointer">have to pay electricity bill</label>
                <a href="#" class="hidden trash-icon ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                      </svg>
                </a>
                
                  
            </div>
        </li>
        <li class="Todo-Item">
            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                <input id="todo-checkbox-2" type="checkbox" class="h-4 w-4 text-blue-600 bg-gray-100 rounded border">
                <label for="todo-checkbox-2" class="ml-2 text-sm text-gray-600 cursor-pointer">Recharge Mobile phone</label>
                <a href="#" class="hidden trash-icon ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                      </svg>
                </a>
            </div>
        </li>
    </ul>
    <h5 style="display:inline">Due Today</h5> <span style="text-align:right" id='count-due-today' class="bg-gray-200 text-black px-3 py-1 rounded font-medium mr-2 mb-2">2</span>
    <ul class="list-none">
        <li class="Todo-Item">
            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                <input id="todo-checkbox-3" type="checkbox" class="h-4 w-4 text-blue-600 bg-gray-100 rounded border">
                <label for="todo-checkbox-3" class="ml-2 text-sm text-gray-600 cursor-pointer">Buy required items</label>
                <a href="#" class="hidden trash-icon ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                      </svg>
                </a>
                
                  
            </div>
        </li>
        <li class="Todo-Item">
            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                <input id="todo-checkbox-4" type="checkbox" class="h-4 w-4 text-blue-600 bg-gray-100 rounded border">
                <label for="todo-checkbox-4" class="ml-2 text-sm text-gray-600 cursor-pointer">Buy vegetables</label>
                <a href="#" class="hidden trash-icon ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                      </svg>
                </a>
            </div>
        </li>
    </ul>
    <h5 style="display:inline">Due Later</h5> <span style="text-align:right" id='count-due-later' class="bg-gray-200 text-black px-3 py-1 rounded font-medium mr-2 mb-2">2</span>
    <ul class="list-none">
        <li class="Todo-Item">
            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                <input id="todo-checkbox-5" type="checkbox" class="h-4 w-4 text-blue-600 bg-gray-100 rounded border">
                <label for="todo-checkbox-5" class="ml-2 text-sm text-gray-600 cursor-pointer">cook food</label>
                <a href="#" class="hidden trash-icon ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                      </svg>
                </a>
                
                  
            </div>
        </li>
        <li class="Todo-Item">
            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                <input id="todo-checkbox-6" type="checkbox" class="h-4 w-4 text-blue-600 bg-gray-100 rounded border">
                <label for="todo-checkbox-6" class="ml-2 text-sm text-gray-600 cursor-pointer">help others</label>
                <a href="#" class="hidden trash-icon ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                      </svg>
                </a>
            </div>
        </li>
    </ul>
</div>